@font-face {
    font-family: ‘AGCRegular’;
    src: local('AGCRegular'), url(AGCRegular.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
 
}
